{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

<div class="container-fluid">
    {% block content %}
         <p><a href="{% url 'list-number-tapes' %}">Вернуться назад</a> </p>
    <p>Вы действительно хотите удалить эту запись?</p>
                <form method="post">
                        {% csrf_token %}
                     {{ form.number_shift }}<br>

                    <button class="btn mb-2 btn-success" type="submit">Да, удалить</button>
                </form>
    {% endblock %}

</div>
