{% extends 'main/base.html' %}
{% block title %}
Толщина плиты
{% endblock %}
<div class="container">
{% block content %}
     <p><a href="{% url 'home' %}">Вернуться назад</a></p>
        <h3>Добро пожаловать    {{ user }}  </h3>

        <form method="post">
            <div class="form-control-test">
                <p> {% if form.is_customer.value == True %}
                    {% else %}
                               ---
                    {% endif %}</p>

                        {% csrf_token %}<br>
                         {% for f in form %}
                            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}</p>
                            <div class="form-error"> {{ f.errors }}</div>
                        {% endfor%}

                    <span>{{ error }}</span><br>
                    <button class="btn btn-success" type="submit">Сохранить</button>
            </div>
        </form>



{% endblock %}

</div>
