{% extends 'main/base.html' %}
{% block title %}
Форма по добавлению толщины плиты
{% endblock %}

<div class="container">


    {% block content %}
         <p><a href="{% url 'plate' %}">Вернуться назад</a></p>
                <form method="post">
                        {% csrf_token %}

                        {% for f in form %}
                       <div class="row">
                           <div class="col-sm-4">
                            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:{{ f }}</label>
                            </div>
                            <div class="form-error"> {{ f.errors }}</div>
                       </div>
                        {% endfor%}

                    <span>{{ error }}</span>
                    <button class="btn btn-success" type="submit">Сохранить</button>
                </form>

    {% endblock %}

</div>