{% extends 'main/base.html' %}

{% block title %}

{% endblock %}
{% block content %}
 <div class="main_table">


     <div class="row">



        <div class="card border-primary mb-3 m-1" style="max-width: 180px; max-height: 180px">
          <div class="card-header">ПДСП</div>
          <div class="card-body">

            <p class="card-text"><a class="btn btn-link" href="{% url 'plate' %}" >Толщина плиты</a></p>
          </div>
        </div>

        {% if user.is_authenticated %}
            <h2>{{ user.get_full_name }}</h2>
                {% for m in menu %}
                    <div class="card border-primary mb-3 m-1" style="max-width: 180px; max-height: 180px">
                        <div class="card-header">ПДСП</div>

                        <div class="card-body">
                            <p class="card-text"><a class="btn btn-link" href="{% url m.url_name %}" >{{ m.title }}</a></p>
                        </div>
                    </div>
                {% endfor %}
         {% else %}
            ---
         {% endif %}

    </div>
 </div>

{% endblock %}

